html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 1;
    flex-direction: column;
}

.logo svg {
    width: 100%;
    max-width: 300px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.highlight {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    color: #1863e6 !important;
    box-shadow: inset 0 -3px 0 #1863e6;
}

.highlight:hover {
    box-shadow: inset 0 -33px 0 0 #1863e6;
    color: #fff !important;
}
